@import url('./Raph-Lanok-Typeface/Raph-Lanok-Future/RaphLanokFuture/stylesheet.css');

#nav-bar {
  margin-bottom: 3rem;
}

.nav-links {
  font-family: 'raph_lanok_futureregular';
  font-size: 2rem;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #8CECE1
}

.ml-auto {
  margin-top: 50px;
}
