.title {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
}

.pricing-container {

}

.info {
  font-size: 1.5rem;
  text-align: left;
  padding: none;
  margin-left: 1rem;
}

.pricing {
  display: flex;
}
