@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

* {
  text-align: center;
  font-family: 'Handlee', cursive;
}

.router {
  width: 100%;
}
